services:
  task-service:
    image: task-service
    build:
      context: .
      dockerfile: TaskService/Dockerfile
    ports:
      - "8080:8080"

  project-service:
    image: project-service
    build:
      context: .
      dockerfile: ProjectService/Dockerfile
    ports:
      - "8081:8080"

  user-service:
    image: user-service
    build:
      context: .
      dockerfile: UserService/Dockerfile
    ports:
      - "8082:8080"