services:
  assignment-service:
    image: assignment-service
    build:
      context: .
      dockerfile: src/AssignmentService/Dockerfile
    environment:
      ConnectionStrings__AssignmentDb: "Server=assignment-db;Database=AssignmentDb;User ID=${DB_USER};Password=${DB_PASSWORD};TrustServerCertificate=True;"
      ServiceUrls__ProjectService: "http://project-service:8080"
    depends_on:
      - assignment-db
    ports:
      - "8080:8080"

  project-service:
    image: project-service
    build:
      context: .
      dockerfile: src/ProjectService/Dockerfile
    environment:
      ConnectionStrings__ProjectDb: "Server=project-db;Database=ProjectDb;User ID=${DB_USER};Password=${DB_PASSWORD};TrustServerCertificate=True;"
      ServiceUrls__UserService: "http://user-service:8080"
    depends_on:
      - project-db
    ports:
      - "8081:8080"

  user-service:
    image: user-service
    build:
      context: .
      dockerfile: src/UserService/Dockerfile
    environment:
      ConnectionStrings__UserDb: "Server=user-db;Database=UserDb;User ID=${DB_USER};Password=${DB_PASSWORD};TrustServerCertificate=True;"
    depends_on:
      - user-db
    ports:
      - "8082:8080"

  user-db:
    image: "${DB_IMAGE}"
    platform: "${DB_PLATFORM}"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${DB_PASSWORD}"
      MSSQL_MEMORY_LIMIT_MB: "1024"
    volumes:
      - mssql-user:/var/opt/mssql
    ports:
      - "14220:1433"

  project-db:
    image: "${DB_IMAGE}"
    platform: "${DB_PLATFORM}"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${DB_PASSWORD}"
      MSSQL_MEMORY_LIMIT_MB: "1024"
    volumes:
      - mssql-project:/var/opt/mssql
    ports:
      - "14221:1433"

  assignment-db:
    image: "${DB_IMAGE}"
    platform: "${DB_PLATFORM}"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${DB_PASSWORD}"
      MSSQL_MEMORY_LIMIT_MB: "1024"
    volumes:
      - mssql-assignment:/var/opt/mssql
    ports:
      - "14222:1433"

volumes:
  mssql-user:
  mssql-project:
  mssql-assignment:
